---
const currentYear = new Date().getFullYear();
---

<footer class="bg-black border-t border-gray-100 py-2 mt-auto">
  <div
    class="max-w-6xl mx-auto text-[8px] px-4 md:px-0 md:text-xs text-white text-center"
  >
    @ {currentYear} Avaris International Manpower Co., Ltd. All Rights Reserved is
    a wholly owned subsidiary of Avaris Group Co., Ltd., legally operating under the
    same parent company.
  </div>
</footer>
