---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const footerText = t("footer.rights").replace("{year}", currentYear.toString());
---

<footer class="bg-black border-t border-gray-100 py-2 mt-auto">
  <div
    class="max-w-6xl mx-auto text-[8px] px-4 md:px-0 md:text-xs text-white text-center"
  >
    {footerText}
  </div>
</footer>
